<a href="https://colab.research.google.com/github/iamangithubproject/python-with-colab/blob/main/Copy_of_11_10_2025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
t = (1,2,3,4,[1,2,3],'Hello',(1,))
print(type(t))

<class 'tuple'>

In [ ]:
p = (10,20)
# p[0] =13 # TypeError: 'tuple' object does not support item assignment

new_p = (13,20)
print(new_p)

(13, 20)

In [ ]:
t = (1,2,3,4,[1,2,3],'Hello',(1,))

l1 = list(t)  # convert tuple to list
print(l1)

[1, 2, 3, 4, [1, 2, 3], 'Hello', (1,)]

In [ ]:
# append, Insert, Change the value, Delete the value, Extend

l1.append(100)
# print(l1)

l1.insert(2,99)
# print(l1)

l1[4] = 77
# print(l1)

del l1[1]
print(l1)

[1, 99, 99, 77, 77, 77, 4, [1, 2, 3], 'Hello', (1,), 100, 100, 100, 100, 100, 100]

In [ ]:
t = tuple(l1)
print(t)
print(type(t))

(1, 99, 99, 77, 77, 77, 4, [1, 2, 3], 'Hello', (1,), 100, 100, 100, 100, 100, 100)
<class 'tuple'>

In [ ]:
tuple1 = ('p','y','t','h','o','n')
for i in range(4):
  print(tuple1[i])

p
y
t
h

In [ ]:
fruit = ('apple','banana','cherry')
for index, fruit in enumerate(fruit, start=1):
  print(f'{index} : {fruit}')

1 : apple
2 : banana
3 : cherry

**Problem 1: Location System**

**Scenario:**
A travel mapping app uses tuples to store locaton coordinates of different landmarks to ensure data integrity — once stored, the coordinates cannot be modified directly (immutability keeps records authentic).

In [ ]:
# Locations: (latitude, longitude, landmark_name, city)
locations = [
    (28.61, 77.20, 'India Gate', 'New Delhi'),
    (19.07, 72.87, 'Gateway of India', 'Mumbai'),
    (22.57, 88.36, 'Red Fort', 'Kolkata'),
    (13.08, 80.28, 'Marina Beach', 'Chennai'),
    (34.05, -118.24, 'Hollywood Sign', 'Los Angeles'),
    (41.87, -87.62, 'Empire State Building', 'New York')
]

**Task A: Location Dictionary**

Create a dictionary where tuple coordinates are keys and landmark names are values.

**Task B: Update Coordinates**

It’s discovered that the stored coordinates for Marina Beach are slightly off. The correct coordinates are (13.0500, 80.2824). Create a new locations list with this correction — don’t modify the existing tuples directly, since tuples are immutable.

**Task C: Find Nearby Locations**

FindNearby location based on Latitude.
1. Southern India: 12.0°N to 20.0°N
2. Northern India: 25.0°N to 35.0°N
3. USA: 30.0°N to 45.0°N'

Example: Find all landmarks located in southern India.

**Task D: Add New Location**

Add “Taj Mahal” in Agra with coordinates (27.1751, 78.0421) to the locations list — again, do this without modifying existing tuples, maintaining immutability.

In [ ]:
# Locations: (latitude, longitude, landmark_name, city)
locations = [
    (28.61, 77.20, 'India Gate', 'New Delhi'),
    (19.07, 72.87, 'Gateway of India', 'Mumbai'),
    (22.57, 88.36, 'Red Fort', 'Kolkata'),
    (13.08, 80.28, 'Marina Beach', 'Chennai'),
    (34.05, -118.24, 'Hollywood Sign', 'Los Angeles'),
    (41.87, -87.62, 'Empire State Building', 'New York')
]

**Task: Update Coordinates**

It’s discovered that the stored coordinates for Marina Beach are slightly off. The correct coordinates are (13.0500, 80.2824). Create a new locations list with this correction — don’t modify the existing tuples directly, since tuples are immutable.

**Task C: Find Location**

1.   Find Northern Indian Landmarks (25.0°N to 35.0°N)
2.   Find American Landmarks (30.0°N to 45.0°N)
3.   Count Landmarks by Region
4.   Create Organized Region Lists

**Task D: Add New Location**

Add “Taj Mahal” in Agra with coordinates (27.1751, 78.0421) to the locations list — again, do this without modifying existing tuples, maintaining immutability.