<a href="https://colab.research.google.com/github/iamangithubproject/python-with-colab/blob/main/Lab060925.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

06/09/2025
need to solve-
 1. Take a string type variable like org = “indian institute of technology patna", show outputs of title() and capitalize().

2. Given item price p and quantity q, compute bill. If a discount value d applies, compute final bill to pay.  print the average price per item.

3. Swap Two Numbers Without Using Third Variable. (use arithmetic operators)

4. Wallet Balance Updates: Start with balance = 0, add stipend S, pay mess bill M, you will get cashback C, and local travel cost T. Output the total expenditure and savings. Also, print the balance after each step.

5. Student Exam Journey: A student taking a course this semester. His/Her final grade depends on four components: Quiz 1, Quiz 2, Mid-Sem Exam, and End-Sem Exam. The student starts with a score = 0, and gradually adds marks from each component. But each component has a weight (not all exams count equally). So, we rescale the total to 100 marks. Weight Distribution: Quiz 1 → 10%, Quiz 2 → 10%, Mid-Sem → 30% , End-Sem → 50%. Given marks for each component. Compute the final marks.

In [ ]:
org="indian institute of technology patna"
print(org.title())
print(org.capitalize())

Indian Institute Of Technology Patna
Indian institute of technology patna

In [ ]:
p = 100  # price
q = 4    # quantity
d = 20   # discount

# compute Bill
total_amount = p*q
# after discount
discount_amount = total_amount - d

# Avarage Price per item after Discount
avg_price = discount_amount / q   # In case of Division, You get Float NO.

print(total_amount)
print(discount_amount)
print(avg_price)

400
380
95.0

In [ ]:
a = 10
b = 5
a,b=b,a
print(a,b)

5 10

In [13]:
a  = 10
b = 5
print(a,b)
a = a+b #15
print(a)
b = a-b
print(b)
a = a-b
print(a)
print(a,b)

10 5
15
10
5
5 10

In [14]:
balance = 0
s = 5000 # stipend
m = 1200 # mess bill
c = 500  # cashback
T = 1000 # travel

print(balance,s,m,c,T)

# step 1 Add Stipend
balance += s
print(balance)

# Step 2: Pay Mess bill
balance -= m
print(balance)

# step 3: cashback receive
balance += c
print(balance)

# step 4: pay travel bill

balance -= T
print(balance)


total_expenditure = m + T - c  # mess + travel bill - cashback
print(total_expenditure)

saving = balance
print(saving)

0 5000 1200 500 1000
5000
3800
4300
3300
1700
3300

In [24]:
# Mark Obtained (Assume example/ take from user)
q1 = 8    # out of 10
q2 = 7    # out of 10
mid = 65  # out of 100
end = 120 # out of 150

w1, w2, w3, w4 = 10, 10, 30, 50 #waight

# Normalized each component to 100
q1_norm = (q1 / 10) *100
print("quiz1 marks obtaion out of 10 =",q1_norm)
q2_norm = (q2 / 10) *100
print("quiz2 marks obtaion out of 10 =",q2_norm)
mid_norm = (mid / 100) * 100
print("mid sem marks obtain out of 100 =",mid_norm)
end_norm = (end / 150) * 100
print("end sem marks obtaion out of 150 =",end_norm)

# Final Mark
final_mark = (q1_norm * w1/100) + (q2_norm * w2/100) + (mid_norm * w3/100) + (end_norm * w4/100)
print("final marks  =",final_mark)

quiz1 marks obtaion out of 10 = 80.0
quiz2 marks obtaion out of 10 = 70.0
mid sem marks obtain out of 100 = 65.0
end sem marks obtaion out of 150 = 80.0
final marks  = 74.5



1. Swap Two Numbers Without Using Third Variable. (use Bitwise operators)
2. Check given integer is odd. (use Bitwise operators)
3. Find whether a given number is power of 2.  (Use bitwise operators)
4. Admission Cutoff Check: Given the student's exam score and the exam's cutoff, print whether the student cleared the exam or not.
5. Given a value x and thresholds low, high, print results of: x >= low, x <= high, x > high, x < low, x == low, x != high.

In [32]:
# xor --> same-same 0
a = 5   #101
b = 7  #111
a = a^b   #010->2
print(a)
b = a^b  #101->5
print(b)
a = a^b   #111-> 7
print(a)
print("no. is swaped a,b =", a,b)

2
5
7
no. is swaped a,b = 7 5

In [41]:
num = 5
if num & 1:             #101 & 001 =001->1
  print(num , "is odd")
else:
  print(num,"is even")

5 is odd

In [44]:
# n > 0 and (n &(n-1)) == 0

num = 5



if num > 0 and (num & (num-1)) == 0:   # 100 & (100 - 001) == 0 --> 011 & 100 --> 000
  print(num, "is a power of 2")        # 101 & (101 - 001) --> 101 & 100 --> 100 != 0
else:
  print(num, "is not a power of 2")

5 is not a power of 2

In [49]:
score = int(50)
cutoff = 40

if score >= cutoff:
  print("Pass")
else:
  print("Fail")

Pass

In [50]:
x = 10
low = 5
high = 15

print(x >= low)
print(x <= high)
print(x > high)
print(x < low)
print(x == low)
print(x != high)

True
True
False
False
False
True