<a href="https://colab.research.google.com/github/iamangithubproject/python-with-colab/blob/main/lab160825.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
1+3

4

In [ ]:
print("1+2")

1+2

In [ ]:
pi = 3.14159
print(f"The value of pi is approximately {pi: .2f}")

The value of pi is approximately  3.14

In [ ]:
pi = 3.14159
print(f"The value of pi is approximately {pi: .3f}")

The value of pi is approximately  3.142

# **16 Aug 2025**

# 30082025

30/08/2025

In [ ]:
print(5+3.2)

8.2

In [ ]:
print(True+True)

2

In [ ]:
print(True+10)

11

In [ ]:
print(1+2+3.0)

6.0

In [ ]:
print("3"+"5")

35

In [ ]:
print(5+int("3"))

8

In [ ]:
print(str(5)+"3")

53

In [ ]:
print("Hello"+3)

TypeError: can only concatenate str (not "int") to str

In [ ]:
print(2+3+4*5)

25

In [ ]:
print(0.1+0.2==0.3)

False

# New Section

In [ ]:
pi = 3.14159
print(f"The value of pi is approximately {pi: .2f}")

The value of pi is approximately  3.14

DATA TYPE

In [ ]:
x1 = 5
print(x1, type(x1))
x2 = 0.5
print(x2, type(x2))
x3 = '5'
print(x3, type(x3))

x4 = "5"
print(x4, type(x4))

x5 = 5j
print(x5, type(x5))

x6 = True
print(x6, type(x6))

x7 = False
print(x7, type(x7))

x8 = 'True'
print(x8, type(x8))

x9 = -1
print(x9, type(x9))

x10 = 0
print(x10, type(x10))

x11 = -3.5
print(x11, type(x11))

x12 = 1e-5
print(x12, type(x12))

5 <class 'int'>
0.5 <class 'float'>
5 <class 'str'>
5 <class 'str'>
5j <class 'complex'>
True <class 'bool'>
False <class 'bool'>
True <class 'str'>
-1 <class 'int'>
0 <class 'int'>
-3.5 <class 'float'>
1e-05 <class 'float'>

In [ ]:
a=str(5)
print(a, type(a))

5 <class 'str'>

# 17/8/**25**

In [ ]:
a1=bool(5)
print(a1, type(a1))

a2=complex(10)
print(a2, type(a2))

a3=["a"]
print(a3, type(a3))
a4=("a")
print(a4, type(a4))
a5=range(10)
print(a5, type(a5))

True <class 'bool'>
(10+0j) <class 'complex'>
['a'] <class 'list'>
a <class 'str'>
range(0, 10) <class 'range'>

In [ ]:
a=2
b=5
a,b=b,a
print(a,b)
c=int("a")
print(c)

5 2

ValueError: invalid literal for int() with base 10: 'a'

In [ ]:
f="abcde"
print(f[0],f[1],f[2], f[3], f[4])
print(len(f))
print(f[0:3])
print(f[-3:len(f)])
print(f[0])
print("hello "+ input("what is your name?"))

a b c d e
5
abc
cde
a

### **23/08/2025**

1. create a variable name and assign your full name as a string. print it.
2. create two string variables first name and last name. concatenate them with a space in between and print the result
3. given word = "banana", use a string method to count how many times "a" appears
4. Given sentence = "PYTHON is fun", convert it to all lowercase letters.
5. Convert only the first letter of quote = " learing python is easy" to uppercase.
6. Convert the whole string "hello world" into uppercase
7. Print the character at index 3 from the string "Programming".

In [ ]:
full_name = "Aman Sahu"
print(full_name)

Aman Sahu

In [ ]:
first_name = "Aman"
last_name = "Sahu"
print(first_name+" "+last_name)

Aman Sahu

In [ ]:
word = "banana"
print(word.count('a'))

3

In [ ]:
sentence = "PYTHON is fun"
print(sentence.lower())

python is fun

In [ ]:
quote = "learning python is easy"
print(quote.capitalize())

Learning python is easy

In [ ]:
a = "hello world"
print(a.upper())

HELLO WORLD

In [ ]:
c = "Programming"
print(c[3])

g

# **assignment question**
1. a, b, c = 1, 2, 3; Reassign so that a=3, b=1, c=2
2. data = [10, 20, 30, 40, 50]; Assign first element to x, last element to y, middle ones to z
3. x, y, z = 5, 10, 15;  Rotate so that x=10, y=15, z=5
4. word = "ABC"; Assign 'A' to a, 'B' to b, 'C' to c
5. Convert '45.6' into integer.
6. marks = [95, 87, 76, 88, 92]; Store only the first and last marks, ignore others
7. What happens if you cast: float("1.2e3")
8. student = ['Alice', 21, 'CSE'], print name, age and branch
9. What will be the result of int("True") and int(True)
10. convert 5 into complex form

In [ ]:
a,b,c = 1,2,3
a,b,c= 3,1,2
print(a,b,c)

3 1 2

In [ ]:
#2. data = [10, 20, 30, 40, 50]; Assign first element to x, last element to y, middle ones to z
data = [10, 20, 30, 40, 50]
x = data[0]
y = data[-1]
z = data[1:-1]
print(x,y,z)

10 50 [20, 30, 40]

In [ ]:
#3. x, y, z = 5, 10, 15;  Rotate so that x=10, y=15, z=5
x, y, z = 5, 10, 15
x, y, z = y, z, x
print(x,y,z)

10 15 5

In [ ]:
#4. word = "ABC"; Assign 'A' to a, 'B' to b, 'C' to c
word = "ABC"
a = word[0]
b = word[1]
c = word[2]
print(a,b,c)

In [ ]:
#5. Convert '45.6' into integer.
a = '45.6'
print(int(float(a)))

45

In [ ]:
#6. marks = [95, 87, 76, 88, 92]; Store only the first and last marks, ignore others
marks = [95, 87, 76, 88, 92]
first_mark = marks[0]
last_mark = marks[-1]
print(first_mark, last_mark)

95 92

In [ ]:
#7. What happens if you cast: float("1.2e3")
print(float("1.2e3"))

1200.0

In [ ]:
#8. student = ['Alice', 21, 'CSE'], print name, age and branch
student = ['Alice', 21, 'CSE']
print(student[0], student[1], student[2])

Alice 21 CSE

In [ ]:
#9. What will be the result of int("True") and int(True)
print(int("True"))
print(int(True))

ValueError: invalid literal for int() with base 10: 'True'

In [ ]:
#10. convert 5 into complex form
print(complex(5))

(5+0j)

# **24/08/2025**